<div class="datatable">
    <h4>General container info</h4>
    <table class="table">
        <tr>
            <th>Format</th>
            <th>Version</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ format }}</td>
            <td>{{ version }}</td>
            <td>
                <button onclick="ee.sk.hashcode.DownloadContainer();">
                    Save
                </button>
            </td>
        </tr>
    </table>
</div>